[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "mathslib"]
	path = external/mathslib
	url = git@github.com:j1mmo/mathslib.git
	branch = main
[submodule "dsa"]
	path = external/dsa
	url = git@github.com:j1mmo/dsa.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
